@font-face {
    font-family: Dorsa;
    src: url(../Dorsa-Regular.ttf);
}

body{
	width: 100%;
	text-align: center;
	margin: 0%;
	background-color:#212121;
	text-decoration: none;
	color:white;
}
h1{
	font-family: Dorsa;
	font-size: 400%;
	font-weight: 200;
	padding-bottom: 0%;
	margin: 0%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color:white;
}
nav {
	font-family: Dorsa;
	font-weight: 200;
	font-size: 350%;
	width:100%;
	background-color: #363636;
	opacity: 0.9;
}
a{
	text-decoration: none;
}
.NavButtons{
	text-decoration: none;
	color: white;
	margin-left:5%;
	margin-right:5%;
}
.Logo{
	margin:1%;
	width: 7%;
	vertical-align: middle;
	display: inline-block;
}
.News{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0.5%;
	background-color: #363636;
}
.NewsImage{
	width: 100%;
	vertical-align: middle;
}
.RightArrow{
	cursor: pointer;
	width:5%;
	height:10%;
	margin-top: 15%;
	position: absolute;
	background-color: #363636;
	opacity: 0.9;
}
.LeftArrow{
	cursor: pointer;
	width:5%;
	height:10%;
	margin-top: 15%;
	margin-left:55%;
	position: absolute;
	background-color: #363636;
	opacity: 0.9;
}
.LeftArrow img{
	width: 30%;
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	margin-top: 40%;
}
.RightArrow img{
	width:30%;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(270deg);
	transform: rotate(90deg);
	margin-top: 40%;
}
.News h3{
	text-align: left;
	vertical-align: middle;
	font-family: Dorsa;
	font-size: 200%;
	font-weight: 150;
}
.NewsTitle{
	position:absolute;
	background-color: #363636;
	opacity: 0.9;
	width:10%;
	height:4%;
	margin-left: 50%;
	margin-top: 31.75%;
}
.NewsTitle p{
	font-family: Dorsa;
	font-size: 175%;
	margin-top: 0%;
}
.LoginForm{
	background-color: #363636;
	width:15%;
	margin-left:42.5%;
	margin-right: 42.5%;
	height:40%;
	font-family: Dorsa;
	font-size: 210%;
	color:white;
}
.LoginForm p{
	margin-top: 10%;
	margin-bottom:1%;
	padding-top:5%;
}
.Login{
	color:white;
}
.Register{
	color:white;
}
.LoginButton{
	background-color: #212121;
	text-decoration: none;
	color:white;
	margin-left: 30%;
	margin-right: 30%;
	margin-top:5%;
}
.RegisterButton{
	background-color: #212121;
	text-decoration: none;
	color:white;
	margin-left: 30%;
	margin-right: 30%;
	margin-top:5%;
	margin-bottom: 5%;
}
.game{
	background-color: #363636;
	width:22%;
	margin-top: 2.5%;
	margin-left:2.5%;
	float: left;
	display: inline-block;
	cursor: pointer;
}
.game img{
	width:100%;
	vertical-align: middle;
}
.GamePrice{
	position: absolute;
	background-color: #363636;
	width:5%;
	margin-top: -2.7%;
	margin-left: 17%;
}
.GamePrice p{
	font-family: Dorsa;
	font-size: 175%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.gamePriceInfo{
	position: absolute;
	background-color: #363636;
	width:5%;
	margin-top: 25.15%;
	margin-left: 44.5%;
}
.gamePriceInfo p{
	font-family: Dorsa;
	font-size: 175%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.gameTitle p{
	font-family: Dorsa;
	font-size: 300%;
	margin-top: 1%;
	margin-bottom: 0.5%;
	margin-right: 87%;
}
.gameImage{
	margin-left: 1%;
}
.gameImage img{
	width:50%;
	float:left;
}
.information{
	font-family: Dorsa;
	font-size: 200%;
	max-height: 66px;
	min-height: 66px;
}
.addToCart{
	font-family: Dorsa;
	font-size: 200%;
	margin-top:15%;
	margin-left: 70%;
	background-color: #363636;
	width:10%;
	height: 7%;
	float: left;
	vertical-align: middle;
	position: absolute;
	cursor: pointer;
}
.addToCart p{
	margin-top: 3%;
	margin-bottom: 3%;
}
#Home {
	margin-left: 0px;
}
